nav.navbar.navbar-default.navbar-fixed-top
  .container
  .navbar-header
    a.navbar-brand(href="#") Adventure Time
  .nav.navbar-nav.navbar-right
    li
      a(href="#section_ask") 引言 INTRO
    li
      a(href="#section_about") 三首歌 SONGS
    li
      a(href="#section_video") 影片 VIDEOS
    li
      a(href="https://hdx3.blogspot.com/search/label/%E6%8E%A2%E9%9A%AA%E6%B4%BB%E5%AF%B6?&max-results=20" target="_blank") 10季都在這 Adventure Time




header.jumbotron
  .container
    h1 Adventure Time
    hr
    h4 Songs
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 在探險活寶的10季劇情中，有好多首好聽的歌，每首歌為每個劇情增加了不少張力與感染力，這裡介紹我最喜歡的3首歌。:)
section#section_about
  .container
    .row
      .col-sm-4
        .img_wrap
          img(src="https://vignette.wikia.nocookie.net/adventuretimewithfinnandjake/images/0/00/S3e26_Jake_singing.png/revision/latest?cb=20131118162047",alt="")
        h3 All Warmed Up Inside
        p 這首歌，是在阿寶被泡泡糖公主拒絕，失戀之後，老皮為了幫阿寶振作，而出門旅行去幫阿寶找適合阿寶的公主，最後到了火焰之國，找到了火焰公主，老皮就唱了這首「All Warmed Up Inside」，幫阿寶對火焰公主告白，是一首很溫暖的情歌。
        
        
      .col-sm-4
        .img_wrap
          img(src="https://i.ytimg.com/vi/DjYch8-WGoM/maxresdefault.jpg",alt="")
        h3 Slow Dance With You
        p 這首是瑪瑟琳在漢堡丘墓園的演唱會上唱的，在這之前瑪瑟琳和他爸爸韓森的感情不是很好，但是在唱完這首「Slow Dance With You」後，韓森以他的女兒瑪瑟琳為榮，他們劃破了心結，重歸舊好，這首歌，同時也是一首詞簡單，但是很優美的情歌。
      .col-sm-4
        .img_wrap
          img(src="https://i.ytimg.com/vi/jwEieg-tFos/maxresdefault.jpg",alt="")
        h3 Time Adventure
        p 這首歌是最後一集，BMO唱出來拯救世界的歌，同時也傳達了整部探險活寶的主旨「美好的事物最後都會消失，但卻會永遠留在我們的心中」，結束是必然發生的，因此我們應該要活在當下，不捨的時候就去翻翻回憶，在繼續向前方邁進。這首歌放在了最後一集，也是這首歌的作者「Rebecca Sugar」對探險活寶這部卡通的捨不得，這是一首讓人感動得唏哩嘩啦的歌。
section#section_video
  .container
    .row
      .col-sm-12
        h1 All Warmed Up Inside
        hr
      .col-sm-7
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/P3Vr1G7p_VM', allowfullscreen='')
      .col-sm-3 
        h4 LYRICS
        p Oh, Flame Princess.<br>I think you're rad.<br>I really wanna kiss you.<br>Right in front of your dad.<br>Cause I think you're great.<br>I wanna be your mate.<br>Maybe go on a date.<br>Cause it feels like there's a fire inside my body.<br>Like there's a fire inside my heart.<br>It's like this fire is gonna consume me.<br>If I keep waiting for this thing to start.<br>Oh, I feel like I'm all warmed up inside.<br>I feel all warmed up inside.<br>I feel all warmed up inside.
      .col-sm-12
          h1 Slow Dance With You
          hr
      .col-sm-7
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/DjYch8-WGoM', allowfullscreen='')
      .col-sm-3
        h4 LYRICS
        p Slow dance with you.<br>I just want to slow dance with you.<br>I know all the other boys are tough and smooth.<br>And I got the blues.<br>I want to slow dance with you.<br>I want to slow dance with you.<br>(Slow dance)<br>I just want to slow dance with you.<br>(Slow dance)<br>Why don't you take the chance?<br>I've got the moves.<br>I'd like to prove.<br>I want to slow dance with you.
      .col-sm-12
        h1 Time Adventure
        hr
      .col-sm-7
        .embed-responsive.embed-responsive-16by9
         iframe.embed-responsive-item(src='https://www.youtube.com/embed/jwEieg-tFos', allowfullscreen='')
      .col-sm-3
        h4 LYRICS
        p [Verse]<br>Time is an illusion that helps things make sense.<br>So we are always living in the present tense.<br>It seems unforgiving when a good thing ends.<br>But you and I will always be back then.<br>You and I will always be back then.<br>[Chorus]<br>Singing: will happen, happening happened.<br>Will happen, happening happened?<br>And we will happen again and again.<br>'Cause you and I will always be back then.<br>You and I will always be back then.<br>Will happen, happening happened?<br>Will happen, happening happened?<br>And we'll happen again and again.<br>'Cause you and I will always be back then.<br>[Bridge]<br>If there was some amazing force outside of time to take us back to where we were.<br>And hang each moment up like pictures on the wall.<br>Inside a billion tiny frames so that we can see it all, all, all.<br>[Outro]<br>It will look like, will happen, happening happened?<br>Will happen, happening happened?<br>And there we are again and again.<br>'Cause you and I will always be back then.<br>You and I will always be back then.<br>Will happen, happening happened?<br>Will happen, happening happened?<br>And there we are again and again.<br>'Cause you and I will always be back then.<br>You and I will always be back then.<br>You and I will always be back then.<br>You and I will always be back then.<br>That's why.<br>You and I will always be best friends.
        

